
<html>
    <head>
        <style>
        </style>
    </head>
    <body>
        <p>Hello!</p>
        <p>Have you forgotten your password?</p>
        <p>Click the link below to reset.</p>
        <a href="https://{{link}}">Reset Password</a>
    </body>
</html>